#subtitulo-about
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
}

.imagem
{
    display: fixed;
    margin-top: 10px;
    margin-left: 88%;
}

#sessao
{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    margin-right: 242px;
    margin-top: -290px;
    font-size: 18px;
}
