.card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    background-color: #f9f9f9;
}

.card-image {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%;
    margin-right: 10px;
}

.card p {
    margin: 0;
}