#welcome
{
    display: flex;
    justify-content: center;
}
h1
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
}
.iamegm-1
{
    display: flex;
    position: fixed;
    margin-top: -300px;
    margin-left: 10px;
}
.piadas
{
    margin-left: 25%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.piadas li
{
    margin-bottom: 18px;
    font-size: 18px;
}
span
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    font-size: 18px;
}
.iamegm-2
{
    display: flex;
    position: fixed;
    justify-content: right;
    margin-left: 1475px;
    margin-top: -300px;
}